.heading-site{
    text-align: center;
    font-family:'Montserrat:400,700', sans-serif ;
    font-size: 25px;
}
.header{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 999;
}
.header .header-logo{
    color: white;
    font-family: 'Montserrat:400,700', sans-serif;
    float: left;
    margin-left: 30px;
}
.header .header-menu{
    float: right;
    margin-right: 30px;
}
.header .header-menu a{
    margin-right: 15px;
    color: white;
}
.header .header-menu a:hover{
    color:#ffc637;
}
.banner{
    margin-top: -20px;
}
.banner .banner-img{
position: relative;
}
.banner .banner-content{
position: absolute;
width: 100%;
text-align: center;
top: 40%;
}
.banner .banner-content h1 , 
.banner .banner-content h2{
    color: rgb(23, 251, 255);
}
.about .about-single-element .icon{
    font-size: 30px;
    text-align: center;
}
.about .about-single-element{
    text-align: center;
}
.about .about-single-element p{
    text-align: left;
}
.footer .footer-informations{
    margin-top: 30px;
    text-align: center;
}
.footer .footer-informations ul{
    padding: 0;
}
.footer .footer-informations ul li{
   display: inline-block;
   list-style-type: none;
}
.oum-modal{
    padding-top: 50px;
}
.footer-contact-form button{
    margin-top: 20px;
}
